h1.titulos {
    text-align: center; /* Centrar el texto */
    margin-left: 42px;
    margin-top: 20px;
    font-size: 20px;
    font-family: arial, sans-serif;
}

footer {
    color: black;
    text-align: center;
    padding: 20px 0;
    /*si la pantalla es muy grande se puede utilizar 
    position: abolute;
    bottom: 0;
    */
}

.barra {
    background-color: gray;
    height: 1px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-family: arial, sans-serif;
}